.su-fbgallery {
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}
.su-fbgallery .slider {
	height: 161px;
}
.su-fbgallery .slide {
	float: left;
	height: 161px;
	padding-right: 25px;
}
.su-fbgallery .slide img {
}

.su-fbgallery .slider:hover {
	animation: none !important;
	-webkit-animation: none !important;
}

.su-fbgallery .slider.noAnim:hover {
	animation: none !important;
	-webkit-animation: none !important;
}