.two-column-left,.two-column-middle,.column-right{
	display:inline-block;
	font-size: 10px;
	vertical-align: top;
	padding-bottom:10px;
	white-space: normal;
}
.two-column-left,.two-column-middle{
	padding-right: 30px;
} 
.two-column-left .sponsors{
	margin-top: 30px;
}
#footer .column-right{
	width:220px;
}
#footer h3{ 
	padding-bottom:0px;
	margin-left:0px;
}
#footer p{
 
}
#footer{
	padding-bottom: 10px;
}


#social-links { 
	padding-bottom: 10px;
}

#social-links a {
	float: left;
	width: 70px; 
	height: 32px;
	display: block;
}

#social-links a {
    background: url(img/social-icons.png) center no-repeat;
}
 
a#facebook
{
    background-position: 0 0;
}

a#twitter
{
    background-position: -70px 0;
}

a#vimeo
{
    background-position: -140px 0;
}

a#youtube
{
    background-position: -210px 0;
    width: 60px;
}

a#instagram
{
    background-position: -270px 0;
    width: 100px;
}

a#flickr
{
    background-position: -370px 0;
    width: 60px;
}
#back-up{
	position: relative;
	bottom: 50px;
 }
a.center{
	position: absolute;
	left: 50%;
}
a.center:hover{
	opacity:0.5;
}
.sponsors img{
	max-height:50px;
	opacity:0.5;
	vertical-align:middle;
	margin-right:10px;
}
.sponsors img:hover{
	opacity:0.8;
}
.sponsors .dominos-icon{
	max-height:40px;
}
.sponsors .nus-icon{
	max-height:25px;
}
.sponsors .podio-icon{
	max-height:20px;
}
.sponsors .podio-icon{
	max-height:20px;
}
.sponsors .shiftplanning-icon{
	max-height: 28px;
}