#portal_page_requirements, #message_centre, .msl_admin_page, #ContactDetails,#admin_portal,#purchase_history,#account,#elections_admin,#reviewbasket,#referendum_vote{
padding:0px !important;
}

#ContactDetails, #purchase_history, #account,#elections_admin{
width:530px;
}
#msl ul.msl_linkgrid li a:hover {
background-color: rgba(255, 255, 255, 0.7);
}

#message_centre li {
margin: 0px;
padding: 0px;
}
#message_centre li a {
border: 0px;
padding: 0px;
background-color: transparent;
}
#message_centre li a:hover {
border: 0px;
background-color: rgba(255, 255, 255, 0.7);
}
#msl ul.msl_linkgrid li a {
text-align: left;
margin:0px;
background-position: 0px 0px;
background-position: 5px 2px;
padding: 60px 5px 5px 5px;
margin-right: 20px;
}

#msl ul.msl_linkgrid {
padding-left:0px;
}

#msl ul.msl_linkgrid {
margin: 0px;
}

#elections_admin h1,#profile_main h1, #purchase_history h1,#message_centre h1,#ContactDetails h1, #account h1{
margin-top: 20px;
border:none;
}

#admin_selectorganisation ul,#message_centre ul,#message_centre li {
margin: 0px;
line-height: 10px;
font-size: 12px;
}
 
.vp_form .vpFormPair, .vp_form .vpFormSubmit {
margin: 10px 0px !important;
padding:0px !important;
}
.vp_form .form_error {
margin-top: 0px !important;
float: left;
}
#profile #profile_content #profile_side #profile_photo{
text-align: left;
padding: 5px;
margin-top: 10px;
}
.vp_form .vpFormSubmit {
background: transparent !important;
border-top: none !important;
}
.vp_form .hint-text span{
display: block;
}
#profile_main h1{
font-size: 16px;
}

#profile_photo .edit_profile{
margin-top: 5px;
font-size: 12px;
display: block;
}

#profile h2{
margin:0px;
padding:0px;
font-size: 12px;
}

#ctl00_Main_upPOst .new_post select,#ctl00_Main_upPOst .new_post input{
margin-bottom:10px;
}

input.button{
padding: 2px 5px;
}

#message_centre li {
margin:0px !important;
padding: 20px 0px !important;
width: 130px !important;
}

#message_centre li a {
color: #000;
text-decoration: none;
font-size: inherit;
font-weight: normal;
border: none;
padding:0px;
background-image: none !important;
}
table.msl_table th {
background-image: none !important;
background:#000 !important;
}
#checkout .tac input{
margin-right: 10px;
}
#ctl00_Main_pnlProtx p{
background: #fff;
padding: 10px;
margin-top: 0px;
}
.msl_admin_page table.msl_table th {
color:#fff !important;
}


.msl-election-stand a,a.votenow{
padding: 10px;
background: #12103F;
border: 1px solid;
margin: 15px 15px;
text-decoration: none;
display: inline-block;
color:#fff;
}

dd, dt{
margin: 0px;
}

.msl-election-stand a:hover, a:hover.votenow{
background: #4C4996;
}
 