.page_event #page-badge-photo img {
	max-width: 100%;
	max-height: 400px;
}
.page-resources{
	white-space:nowrap;
	padding-top:40px;
	padding-bottom:20px;
	overflow-x: scroll;
}
.page-resources .resource-link-item{
	display: inline-block;
	width:218px;
	height: 185px;
	margin-right: 35px;
	position: relative;
}
.page-resources a:hover.resource-link-item{
	opacity: .7;
}
.page-resources .resource-link-name{
	font-family: arial;
	font-size: 11px;
	background: rgba(0, 0, 0, 0.7);
	padding: 5px;
	min-height: 28px;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 208px;
	white-space: normal;
	color: #fff;
	border-bottom: 1px solid #4E4E4E;
}
.document-doc,.document-docx{
	background-image: url('/stylesheet/su/icon-file-word.png');
}
.document-pdf{
	background-image: url('/stylesheet/su/icon-file-pdf.png');
}
.document-xls,.document-xlsx{
	background-image: url('/stylesheet/su/icon-file-excell.png');
}
.document-ppt,.document-pptx{
	background-image: url('/stylesheet/su/icon-file-powerpoint.png');
}
.document-jpg,.document-jpeg,.document-gif,.document-png,.document-bmp{
	background-image: url('/stylesheet/su/icon-file-image.png');
}
.document-zip,.document-rar{
	background-image: url('/stylesheet/su/icon-file-zip.png');
}
.document-default{
	background-image: url('/stylesheet/su/icon-file-default.png');
}
.document-internal{
	background-image: url('/stylesheet/su/icon-file-internal.png');
}
.document-external{
	background-image: url('/stylesheet/su/icon-link-external.png');
}
.document-photoshop{
	background-image: url('/stylesheet/su/icon-file-photoshop.png');
}
.document-facebook{
	background-image: url('/stylesheet/su/icon-link-facebook.png');
}
.document-twitter{
	background-image: url('/stylesheet/su/icon-link-twitter.png');
}
.document-youtube{
	background-image: url('/stylesheet/su/icon-link-youtube.png');
}
.document-tumblr{
	background-image: url('/stylesheet/su/icon-link-tumblr.png');
}
.document-flickr{
	background-image: url('/stylesheet/su/icon-link-flickr.png');
}
.document-email{
	background-image: url('/stylesheet/su/icon-link-email.png');
}