@font-face {
    font-family: 'MuseoSans100';
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-100-webfont.eot');
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-100-webfont.woff') format('woff'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-100-webfont.ttf') format('truetype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-100-webfont.svg#MuseoSans100') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans300';
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-300-webfont.eot');
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-300-webfont.woff') format('woff'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-300-webfont.ttf') format('truetype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-300-webfont.svg#MuseoSans300') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans500';
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-500-webfont.eot');
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-500-webfont.woff') format('woff'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-500-webfont.ttf') format('truetype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-500-webfont.svg#MuseoSans500') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans700';
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-700-webfont.eot');
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-700-webfont.woff') format('woff'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-700-webfont.ttf') format('truetype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-700-webfont.svg#MuseoSans700') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans900';
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-900-webfont.eot');
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-900-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-900-webfont.woff') format('woff'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-900-webfont.ttf') format('truetype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-900-webfont.svg#MuseoSans900') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans100Italic';
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-100italic-webfont.eot');
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-100italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-100italic-webfont.woff') format('woff'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-100italic-webfont.ttf') format('truetype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-100italic-webfont.svg#MuseoSans100Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans300Italic';
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-300italic-webfont.eot');
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-300italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-300italic-webfont.woff') format('woff'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-300italic-webfont.ttf') format('truetype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-300italic-webfont.svg#MuseoSans300Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans500Italic';
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-500italic-webfont.eot');
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-500italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-500italic-webfont.woff') format('woff'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-500italic-webfont.ttf') format('truetype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-500italic-webfont.svg#MuseoSans500Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans700Italic';
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-700italic-webfont.eot');
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-700italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-700italic-webfont.woff') format('woff'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-700italic-webfont.ttf') format('truetype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-700italic-webfont.svg#MuseoSans700Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoSans900Italic';
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-900italic-webfont.eot');
    src: url('http://www.swansea-union.co.uk/stylesheet/su/museosans-900italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-900italic-webfont.woff') format('woff'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-900italic-webfont.ttf') format('truetype'),
         url('http://www.swansea-union.co.uk/stylesheet/su/museosans-900italic-webfont.svg#MuseoSans900Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}