/* --------------------------------------------------------------------
 * Master Page Width Definitions
 * -------------------------------------------------------------------- */

@media only screen and (max-width: 683px) {
    .menu-block, .menu-block ul,#menu li{
        display: block !important;
    } 
    .no-mobile {
        display: none !important;
    }
    #menu-right ul li{
        margin-right: 0px;
        width: 100% !important;
        background:#fff !important;
    }
	#menu-left {
		min-width: 90px !important;
		margin-left: 0px !important;
	}
	#search-box{
		display:none !important;
	}
	#menu-right {
		width: 610px !important;
	}
	#menu-page-teaser{
		display:none !important;
	}
	.menu-content.union {
		width: 680px !important;
	}
	h2#org-page-title{
		display:none !important;
	}
	.advert-container,.sponsors {
		display: none;
	}
}

@media only screen and (min-width: 684px) {
    .wrapper {
        width: 684px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 684px) and (max-width: 912px) {
    .wrapper {
        width: 684px;
        margin: 0 auto;
    }
	#menu-right{
		width: 615px !important;
	}
	.advertteaser {
		position: absolute;
		margin-right: 36px;
		right: 0px;
		left: 282px;
		top: -15px;
	}
	#search-box{
		display:none !important;
	}
	#menu-left {
		min-width: 85px !important;
	}
	#menu-right {
		margin-left: 2px !important;
	}
	#menu-page-teaser{
		display:none;
	}
	.menu-content.union {
		width: 680px !important;
	}
}

@media only screen and (min-width: 912px) {	
	#menu-right{
		width: 660px;
	}
	#menu-left {
		min-width: 250px !important;
	}
	.menu-content.union {
		width: 908px !important;
	}
	.teaser-image {
		display:none !important;
	}
    .wrapper {
        width: 912px;
        margin: 0 auto;
    }
    #menu-right ul li{
        xmargin-right:20px;
    }
	.advertteaser {
		width: 195px !important;
	}
	.advertteaser {
		position: relative;
		margin-right: auto;
		right: auto;
		left: auto;
		top: auto;
	}
}

@media only screen and (min-width: 1140px) {
	#menu-right{
		width: 885px;
	}
	.menu-content.union {
		width: 970px !important;
	}
	.teaser-image {
		display:inline !important;
	}
    .wrapper {
        width: 1140px;
        margin: 0 auto;
    }
    #menu-right ul li{
        xmargin-right:50px;
    }
	.halfadvert{
		display: inline-block !important;
	}
	.advertteaser {
		width: 155px !important;
	}
}

/* --------------------------------------------------------------------
 * Mobile Menu CSS
 * -------------------------------------------------------------------- */

@media(max-width: 683px) {
	/* Disable standard menu at low-resolution */
	header {
		display: none;
	}
	#menu-spacer {
		display: none !important;
	}
}
@media(min-width: 684px) {
	/* Disable mobile menu at normal resolution and above */
	#su-mobile-menu {
		display: none !important;
	}
}
#menufication-top #menufication-btn, #menufication-non-css3-top #menufication-non-css3-btn {
	width: auto !important;
}

/* --------------------------------------------------------------------
 * Layout Main Sections
 * -------------------------------------------------------------------- */
html {
    text-rendering: optimizeLegibility;
background: #f5f5f5 url('http://www.swansea-union.co.uk/stylesheet/su/noize.png');
}

body {
    text-rendering: optimizeLegibility;
	background: #f6f6f8 url('http://www.swansea-union.co.uk/stylesheet/su/gradient.jpg') repeat-x 0px 0px;
}

body header {
    height: 90px;
	box-shadow: 0px 0px 22px rgba(18, 16, 63, 0.3);
}

body div#cover {
    width: 100%;
    height: 215px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('/stylesheet/su/cover.jpg');
    background-size: cover;
	margin-bottom: 0px;
	opacity: 0.75;
	box-shadow: 0px 0px 22px #12103F;
}

body div#cover.coverSports {
    background-image: url(/stylesheet/su/coverTypeSport.jpg);
	box-shadow: 0px 0px 22px #44883E;
}

body div#cover.coverSocieties {
    background-image: url(/stylesheet/su/coverTypeSociety.jpg);
	box-shadow: 0px 0px 22px #5E366E;
}

body div#cover.coverEvents {
    background-image: url(/stylesheet/su/coverTypeEvent.jpg);
}

body div#cover.coverBlogs {
    background-image: url(/stylesheet/su/coverTypeUnion.jpg);
}

.spacer {
	height: 70px;
}

@media only screen and (max-width: 683px) {
    body div#cover {
        display: none;
    }
}

body div#main {
}

body footer {
    min-height: 90px;
    background: rgba(0, 0, 255, 0.1);
}

body section#news {
    text-align: center;
}

h1,h2,h3,h4 {
    /* font-family: 'MuseoSans700';*/ Need a better header font, renders blurry on Chrome+Win
}

hr.soft {
        height: 1px;
        border: 0;
        margin: 0px 0px;
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background:
					url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPS
					JodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdm
					lld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYW
					RpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPbl
					VzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PS
					IwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZm
					ZzZXQ9IjElIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAiLz4KICAgIDxzdG
					9wIG9mZnNldD0iMjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMyIvPg
					ogICAgPHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT
					0iMC4zIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3
					Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2
					lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC
					9zdmc+);
        background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.3) 20%, rgba(0,0,0,0.3) 80%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(20%,rgba(0,0,0,0.3)), color-stop(80%,rgba(0,0,0,0.3)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.3) 20%,rgba(0,0,0,0.3) 80%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.3) 20%,rgba(0,0,0,0.3) 80%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.3) 20%,rgba(0,0,0,0.3) 80%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.3) 20%,rgba(0,0,0,0.3) 80%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000',GradientType=1 ); /*IE6-8 */
}

article {
	width: 70%;
}

article .content {
	width: 90% !important;
}

article .content > p {
	text-align: left;
}

#aside {
	width: 30%;
	float: right;
}
@media only screen and (max-width: 683px) {
	#aside {
		width: 100%;
		float: none;
	}
}
div.content h3 {
	padding-top: 10px;
}

.nav-exec {
	position:relative;
}

.nav-exec img{
	display: block;
	height: auto;
	width: 60px;
}

.admin-people{
	font-size: 12px;
	position: absolute;
	top: -20px;
	left: 90px;
}

.white{
	color: #fff;
}

.news-container {
	width: 100%;
	overflow: hidden;
	xxbackground: #f5f5f5 url('../img/news-bw-light.jpg') !important;
	background-size: auto 50%; 
}
.carousel-container {
	overflow: hidden;
	padding: 5px 0px;
}
.carousel-container,.advert-container,.notice-container{
	width: 100%;
	background: #F0F2F5 url('/stylesheet/su/noize.png');
}
.page_tv .carousel-container{
	background: #fefefe url('/stylesheet/su/noize.png');
}

.events-container {
	width: 100%;
	overflow: hidden;
	background-size: auto 80%; 
	margin-top: 20px;
}
.footer-container {
	width: 100%;
	overflow: hidden;
	background: #f5f5f5 url('http://www.swansea-union.co.uk/stylesheet/su/noize.png');
}
.media-container {
	width: 100%;
	overflow: hidden;
	xxbackground: #fefefe url('../img/socialmedia-bg.jpg');
	background-size: auto 80%; 
	margin-top: 20px;
}
.blog-container {
	width: 100%;
	overflow: hidden;
	xxbackground: #f5f5f5 url('../img/blog-bg-4.png');
}

#sulogo {
    height: 50px;
    margin: 0px;
    margin-top: -5px;
    padding: 5px;
    padding-top: 0px;
    position: relative;
    opacity: 1.0;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 100px;
    font-size: 12px !important;
}

.su-menu{
    height: 50px !important;
    background: #fff !important;
    border-color: #111 !important;
    border-top: none !important;
    border-right-color: #ccc !important;
    border-left-color: #ccc !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px !important;
    font-size:12px !important;
    font-weight: bold;
    font-family: 'NovecentowideUltraLightBold' !important;
    /*border-bottom:1px #000 solid;*/
}

.su-menu a{
    height: 16px;
    color: #000;
}

.su-menu img{
    display: inline-block;
    border: none !important;
    padding: none !important;
    margin: none !important;
}

.menu-line{
	margin-top: 38px !important;
}

div.seemore {
	font-family: 'MuseoSans500';
	text-transform: uppercase;
	font-weight: 500;
	font-size: 0.85em;
	padding-bottom: 15px;
	margin-top: 25px;
	text-align: right;
}
.index-page .seemore{
	display:none;
}
div.seemore a {
	text-decoration: none;
}

h1,h2,h3{
    margin: 0px;
    margin-top: 50px;
}
h2,h3{
    margin-top: 10px;
}


#main h2{
	margin-left: 0px; /* why do we need this? */
	margin-bottom: 5px;
	color:#444;
}

h2.container-header{
	margin-top:40px;
}

.headericon.ticket-icon{
	vertical-align: top;
	margin-top: 4px;
}
.headericon.news-icon{
	margin-bottom: -6px; 
}
.headericon.media-icon{
	margin-bottom: -2px;
	zoom: 0.8;
}
.headericon.blog-icon{
	zoom: 0.9;
}
 

/*
 * GENERIC COLORS
 */

.color-blue {
    background: #3887C0;
}
.color-purple {
    background: #BC5CA2;
}
.color-green {
    background: #C4D836;
}
.color-ltblue {
    background: #94C7DF;
}
.color-red {
    background: #E75661;
}
.color-yellow {
    background: #FBCF37;
}
.color-varsity {
    background: #036735;
}
.bb-green {
    border-bottom: 6px solid #67ae01;
}
.bb-yellow {
    border-bottom: 6px solid #FBCF37;
}
.bb-pink {
    border-bottom: 6px solid #BC5CA2;
}
.bb-blue {
    border-bottom: 6px solid #3887C0;
}
 
/*
 * BREADCRUMBS
 */

.breadcrumb { 
	list-style: none; 
	overflow: hidden; 
	font: 11px Helvetica, Arial, Sans-Serif;
	/*text-transform: uppercase;*/
	margin-left: -40px; /* why is this needed? */
	min-width: 380px;
}
.breadcrumb li { 
	float: left; 
	background: #152558;
}
.breadcrumb li a {
	color: white;
	text-decoration: none; 
	padding: 10px 0 10px 55px;
	background: brown;                   /* fallback color */
	background:  rgba(255, 255, 255, 0);
	position: relative; 
	display: block;
	float: left;
}
.breadcrumb li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;          
	/* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid   #152558;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}	
.breadcrumb li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           
	/* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid #fefefe;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}	
.breadcrumb li:first-child a {
	padding-left: 30px;
}
.breadcrumb li:last-child a {
	background: #0088CC !important;
	color: white;
	/*
	pointer-events: none;
	cursor: default;
	*/
	border-color:#0088CC;
}
#article  .breadcrumb li:last-child a:after { border-left: 30px solid   #0088CC; }
.breadcrumb li a:hover { background: #0088CC; }
.breadcrumb li a:hover:after { border-left-color: #0088CC; !important; }
.breadcrumb li a:hover:before { border-left-color: #fff; !important; }

		
article, .info, .content{
	font-size: 12px;
}

article h2{
	margin-top: 40px;
}

h2.title{
	margin-bottom: 10px;
}

/* BOOTSTRAP NAV */

.nav {
  margin-bottom: 20px;
  margin-left: 0;
  list-style: none;
}

.nav > li > a {
  display: block;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav > li > a > img {
  max-width: none;
}

.nav > .pull-right {
  float: right;
}

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nav li + .nav-header {
  margin-top: 9px;
}

.nav-list {
  padding-right: 15px;
  padding-left: 0px;
  margin-bottom: 0;
}

.nav-list > li > a,
.nav-list .nav-header {
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list > li > a {
  padding: 3px 15px;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}

.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  margin-right: 2px;
}

.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.nav-tabs,
.nav-pills {
  *zoom: 1;
}

.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  line-height: 0;
  content: "";
}

.nav-tabs:after,
.nav-pills:after {
  clear: both;
}

.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: #ffffff;
  background-color: #0088cc;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li > a {
  margin-right: 0;
}

.nav-tabs.nav-stacked {
  border-bottom: 0;
}

.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
}

.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus {
  z-index: 2;
  border-color: #ddd;
}

.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}

.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px;
}

.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

.nav-pills .dropdown-menu {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
}

.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
  border-top-color: #005580;
  border-bottom-color: #005580;
}

/* move down carets for tabs */

.nav-tabs .dropdown-toggle .caret {
  margin-top: 8px;
}

.nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}

.nav > .dropdown.active > a:hover,
.nav > .dropdown.active > a:focus {
  cursor: pointer;
}

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open.active > a:focus {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}

.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret,
.nav li.dropdown.open a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}

.nav > .disabled > a {
  color: #999999;
}

.nav > .disabled > a:hover,
.nav > .disabled > a:focus {
  text-decoration: none;
  cursor: default;
  background-color: transparent;
}

/*****
Notice
******/
.notice{
background:rgba(255, 246, 19, 0.25);
margin: 10px 0px;
float:left;
padding:10px;
font-size:10px;
font-family:arial;
min-width:200px;
}
.notice h1{
font-weight:bold;
text-transform:uppercase;
font-size:11px;
margin:0px;
padding:0px;
}
.notice p{
padding:0px;
margin:0px;
margin-top:5px;
}

/******
 Footer
 ******/

#footer {
	display: block;
	white-space: nowrap;
}
.footer-left, .footer-middle, .footer-right {
	height: 60px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.9);
	text-transform: uppercase;
	font-size: 10px;
}

.footer-left {
	width: 468px;
}

.footer-middle {
	width: 425px;
	margin-left: 30px;
}

.footer-right {
	width: 468px;
}

.hand{
	cursor: pointer;
	cursor: hand;
}




/* Last Minute Changes Please Merge in Proper CSS Location Later */

#menu.menu,.seemore{
	display:none;
}
.wrapper h2{
	margin-top: 30px;
	margin-bottom: 10px;
}
#admin_page_content {
	display: inline-block;
}
.admin-people{
	font-size: 12px;
	position: absolute;
	top: 0px;
	left: 70px;
}
#aside .nav-list{
	padding-bottom:5px;
}
.nav-list .nav-exec{
	margin-bottom: 10px;
}
body footer {
	background: #f5f5f5 url('http://www.swansea-union.co.uk/stylesheet/su/noize.png');
}
.footer-container {
	background: transparent;
	margin-top: 50px;
}
h2#org-page-title {
	position: absolute;
	top: 45px;
	color: #fff;
	font-size: 50px;
}
article .content {
	margin-top: 0px;
}
	
	
.msl_blog h1{
color: #fff;
font-size: 60px;
position: absolute;
top: 20px;
}
.msl_blog h1 a{
color: #fff;
text-decoration:none;
}

.msl_blog_post{
width: 600px;
}


.msl_blog_image img {
width: 342px;
height: auto;
}


.mslwidget .msl_blog {
position: relative;
}
.msl_blog .msl_blog_description {
display: inline-block;
}

.msl_blog_description{
float: right;
width: 342px;
margin-right: -342px;
margin-top: 480px;
}
.msl_blog_image{
float: right;
}
.msl_blog_tools {
position: absolute;
top: -60px;
margin: 0px;
padding: 0px;
padding-right: 20px;
background: rgba(255, 255, 255, 0.8);
}
.msl_blog_tools ul {
list-style: none;
margin-top: 5px;
margin-left: -40px;
margin-bottom: 5px;
}
.msl_blog_tools ul li a{
background:none;
text-decoartion:none;
color:#000;
font-size: 12px;
}
.msl_blog h1 {
color: #fff;
font-size: 60px;
position: absolute;
top: -190px;
font-family: 'MuseoSans100';
}
.msl_blog_post a, .single_post a{
color:#000;
text-decoration:underline;
}
.msl_blog_post h1 a, .single_post a{
color:#000;
text-decoration:underline;
}
h2.msl_blog_post_title{
text-decoration:none;
}
.msl_blog .blog_day{
width: 600px;
display: inline-block;
}
ul.join_list li{
margin-bottom: 20px;
width: 180px;
}
ul.join_list li input{
padding:3px;
}
#sport-swansea-product{
font-size: 13px;
text-align: left;
}


/******
 Navigation 
 ******/
 
#aside .breadcrumb li {
	overflow: hidden;
	float:none !important;
	height: 34px;
	background: transparent !important;
	margin: 1px !important;
}

#aside .breadcrumb li a,#aside .breadcrumb li:first-child a {
	background: #152558 !important;
	width: 263px !important;
	padding: 10px 0 10px 45px !important;
}

#aside .breadcrumb li:last-child a:after {
	border-color: 30px solid #152558 !important;
	pointer-events: auto;
	/*
	cursor: pointer;
	cursor: hand;
	*/
}

#aside .breadcrumb li a:before {
/*
	content: " ";
	border-left: 30px solid #fefefe;
	position: absolute;
	top: 50%;
	margin-top: -50px;
	left: 0px !important;
	margin-left:0px !important;
*/
}
#aside .breadcrumb li a:hover { background: #0088CC !important; }

#aside .nav-list {
	/*padding-left: 20px;*/
	background: transparent !important;
}
 
#sport-swansea-product .msl_info, #sport-swansea-product .msl_warning {
	color:#000;
}
 
/* Buy Buttons need to add this to org purchases as well */

#msl_event .event_ticket input.button{
	padding: 2px 10px !important;
	float: right;
}

#cover .banner-title{
	font-size: 80px;
	color: #fff;
	text-shadow: 0px 0px 12px #000;
	filter: dropshadow(color=#000, offx=0, offy=0);
}

.msl-grouping-context-control #ctl00_Main_GroupingContextCtl1{
	display:none;
}

.msl-groupedmemberlist ul{
	padding-left: 0px;
}
#page-org-join{
	padding-top: 30px;
} 
#page-org-info{
}
.orgcommittee{
	padding-top: 20px;
}
.page_organisation .mslwidget .vp_content .hint-text {
	display: block;
	font-size: small;
	margin-bottom: 5px;
}

/***********
Reinforce Consistent Styles Across Website 
+ Text always black 
+ Align Left on all content 
+ No oversized text
*************/


.content h1,.content h1,.content h1{
text-align: left !important;
color: #000 !important;
}
.content div,.content p{
text-align: left !important;
color: #000 !important;
}

.news .content img{
float: left;
padding:5px;
}

/***********

Temps Styles for Single Org Page - Move to single.css when done

*************/

.org-box{
	max-height: 700px;
	overflow-y: scroll;
	padding: 10px 0px 10px 15px;
	/*direction: rtl;*/
	border: 1px solid rgba(255, 255, 255, 0.5);
	box-shadow: #D4D4D4 0px 0px 17px;
	background: rgba(255, 255, 255, 0.7);
	margin-bottom: 20px;
}

.org-description h1, .org-description h2, .org-description h3{
	margin-top: 15px;
}

.orgcommittee{
	max-height: 350px;
	margin-top: 20px;
}

.orgproducts{
	margin-top:20px;
}

#page-badge-photo img{
	box-shadow: #D4D4D4 0px 0px 17px;
	display: inline;
}
#page-badge-photo .mslwidget img{
	margin-top: 45px;
}


#news-container .news{
	transition: 1s ease-in;  
}

.msl-groupedmemberlist .badge{
	clear: both;
	padding: 5px;
	height: 125px;
	background: #fff;
	margin-right: 10px;
	margin-bottom: 10px;
	box-shadow: #D4D4D4 0px 0px 3px;
	width:225px;
	border:1px solid #bbb;
}

.msl-groupedmemberlist h3{
	margin:0px;
	padding:0px;
	width: 245px;
}

.msl-groupedmemberlist ul {
	min-height: 150px;
}

.msl-groupedmemberlist li {
	float: left;
}

.msl-groupedmemberlist .badge_tools {
	width: 100px;
	float: left;
	height: 123px;
	padding: 1px 10px 1px 1px;
}
.msl-groupedmemberlist .badge dt a{
	color: #000;
	font-weight: normal;
	text-decoration: none;
}
.msl-groupedmemberlist .badge_avatar {
	border: 1px solid rgba(204, 204, 204, 0.3) !important;
}

#page-org-join, .orgproducts, #page-org-info{
	}

#page-org-join .mslwidget ul.join_list, .orgproducts .mslwidget ul.join_list{
	margin: 0px;
	list-style: none;
	width: 520px;
	padding: 0px;
	margin-top:10px;
}

.mslwidget ul.join_list li, #page-org-info .mslwidget, .orgedit .mslwidget{
	list-style-type: none;
	ul.join_list l
	margin: 0px;
	border: 1px solid #eee;
	padding: 8px;
	list-style: none;
	background: #fff;
	box-shadow: #D4D4D4 0px 0px 17px;
	width: 330px;
	margin-bottom: 10px;
	margin-top:5px;
}

#page-org-info .mslwidget a{
	padding-left: 25px;
	color: #000;
	text-decoration: none;
	background: transparent url('/stylesheet/su/icon-star-16.png') no-repeat 0 50%;
}

#su_page_content input.button{
	margin: 0;
	background: #48C6F2;
	padding: 7px !important;
	border: none;
	color: #FDFDFD;
	font-size: 85%;
	font-weight: bold;
	margin: 5px 5px 5px 0px;
	border: 1px solid #75ADCB;
	min-width: 115px;
}

#su_page_content #page-badge input.button{
	display: block;
}

#su_page_content #page-badge .orgedit input.button {
	display:inline-block;
}

.msl_notification{
	background-color: #FFE703;
	font-weight: normal;
	min-width: 340px;
}

/* Other version of purchase confirmation that comes when basket is not empty */
.mslwidget .confirm{
	padding: 8px 8px 8px 24px;
	border: 8px solid #FFE703;;
	min-width: 300px;
	background: #fff url('/skins/images/interface/confirm.gif') no-repeat 4px 50%;
}

.msl_notification .confirm{
	padding: 8px 8px 8px 24px;
	min-width: initial;
	border: 1px solid #FFF;
}
.mslwidget .msl_notification {
	min-width: 340px;
}
.msl_notification .confirm a, .mslwidget .confirm a{
	text-decoration:none;
	color: #48C6F2;
}

.org-box.orgYTplayer{
	display:none;
    overflow: hidden;
}

.orgYTplayer .YTplayer {
    width: 100%;
    height: 385px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    border: solid 1px rgba(0, 0, 0, 0.6);
	position: relative;
}

.org-box .youtube .carousel {
    width: 20%;
    height: 100%;
    overflow: auto;
    position: absolute;
    right: 0px;
    z-index: 3;
}

.org-box .youtube .thumbnail {
    margin: 2px;
    width: 80%;
    border: 1px solid black;  
}

.org-box .youtube iframe.player {
    width: 80%;
    height: 385px;  
    overflow: auto;
    border: 0;
}

.org-facebook, .org-twitter{
	display:none;
}

#page-org-info .org-twitter{
	margin-bottom: 10px;
}

#twitter-widget-0{
	min-width:350px !important;
	box-shadow: #D4D4D4 0px 0px 3px !important;
}

.orgedit .mslwidget .cke_editor tbody tr:first-child{
	display:none;
}
.orgedit .mslwidget .cke_editor .cke_contents{
	height: 50px !important;
}

.YTplayer .carousel .thumbnail{
	cursor: pointer;
	cursor: hand;
}


/* Fixes */

#sport-swansea-product .join_list {
	margin:0px;
	padding:0px;
	text-shadow: none;
	color:#000;
	box-shadow: 0px;
}



/***********

Quick Bug Fixes

*************/

