.su-blog {
	display: inline-block;
	width: 100%;
	vertical-align: top;
}
.su-blog a {
	text-decoration: none;
	color: black;
}
.su-blog-post {
	position:relative;
	display: inline-block;
	width: 228px;
	vertical-align: top;
}
.su-blog-post{
	position: relative;
	display: inline-block;
	white-space: normal;
}

/*
.su-blog-post:before {
	content: "";
	position: absolute !important;
	bottom: 30px;
	right: 20px !important;
	border-width: 0px 0 25px 25px !important;
	border-style: solid;
	border-color: transparent #fff;
	background: none;
	color: #fff;
	xz-index: -100;
	margin-bottom:-10px;
}
*/

.su-blog-post-inner {
	width: 196px;
	height: 175px;
	overflow: hidden;
	padding: 10px;
	position: relative;
	background: url('/stylesheet/su/yellow-notepad.png') repeat-x;
	background-size: 225px auto;
	padding-top: 30px;
	border: 1px solid #e9e9e9;
	border-top: none;
	-moz-box-shadow: 0 1px 1px 1px #f1f1f1;
	-webkit-box-shadow: 0 1px 1px 1px #f1f1f1;
	box-shadow: 0 1px 1px 1px #f1f1f1;
}

.su-blog-post-inner div.title {
	font-family: 'MuseoSans500';
	font-size: 14px;
	padding-bottom: 10px;
	height: 40px;
}

.su-blog-post-inner div.intro {
	font-family: 'MuseoSans300';
	font-size: 12px;
}

.su-blog-post-inner img.author {
	width: 50px;
	height: 50px;
	float: right;
	margin: 0px 0px 5px 5px;
	border: 1px solid rgba(56, 56, 56, 0.09);
	padding: 3px;
	padding-bottom: 11px;
	background: #f5f5f5;
}

.ib {
	display: inline-block;
	vertical-align: top;
}


.su-blog-post.hideBP1, .su-blog-post.hideBP2 {
	display: none;
}
	
@media only screen and (max-width: 683px) {
	.su-blog-container, .su-blog {
		width: 100%;
	}
	.su-blog-post {
		width: 50%;
	}
	.su-blog-post-inner {
		width: 90%;
	}
	.su-blog-post.hideBP1 {
		display: inline-block;
	}
}

@media only screen and (min-width: 684px) {
	.su-blog-container, .su-blog {
		width: 684px;
	}
}

@media only screen and (min-width: 912px) {
	.su-blog-container, .su-blog {
		width: 912px;
	}
	.su-blog-post.hideBP1 {
		display: inline-block;
	}
}

@media only screen and (min-width: 1140px) {
	.su-blog-container, .su-blog {
		width: 1140px;
	}
	.su-blog-post.hideBP2 {
		display: inline-block;
	}
}