#advert{
	margin-left: 0px;
	display:inline-block;
	white-space: nowrap;
	margin-bottom: 7px;
}
.fulladvert,.halfadvert,.advertteaser{
	display:inline-block;
	text-transform: uppercase;
	font-size: 10px;
	vertical-align: top;
}
.fulladvert,.halfadvert,.fulladvert img,.halfadvert img{
	height: 60px;
}
.fulladvert{
	width: 468px;
	background: url('/stylesheet/su/icon-advert-holder-468x60.gif') no-repeat;
}
.halfadvert{
	width: 234px;
	margin-left: 15px;
	display:none;
	background: url('/stylesheet/su/icon-advert-holder-234x60.gif') no-repeat;
}
.advertteaser{
	margin-left: -10px;
	border: none;
	text-align: right;
	background: none;
}
.advert-container{
	border-bottom: 1px solid #f7f7f7;
}