body header {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:rgba(256,256,256,0.95);
    z-index:1000;
    height:70px
}

body header:hover {
    background:rgba(256,256,256,1.0)
}

#menu {
    font-size:14px!important;
    xtext-transform:uppercase;
    font-family:'NovecentowideUltraLightBold',arial;
    height:20px;
    margin-top:12px
}

#menu-container {
    white-space:nowrap
}

#menu-left,.menu-block,.menu-block ul {
    display:inline-block
}

#menu-right {
    vertical-align:top;
    margin-top:12px;
    margin-left:20px
}

#menu-logo a {
    color:#fff!important
}

#menu-logo span {
    display:block;
    height:20px;
    width:200px
}

#menu ul {
    display:inline-block;
    padding:0;
    margin:0
}

#menu ul li {
}

#menu ul.menu-right {
    display:block
}

#menu ul.menu-right li {
    margin-right:20px;
    width:100px
}

.menu-group {
    font-size:14px;
    margin-top:-15px!important
}

.menu-link-hover {
    border:2px solid #000;
    border-bottom:0!important;
    background:#fff;
    padding:10px 20px 22px!important;
    z-index:19999!important;
	z-index: 19999!important;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

#menu li {
    list-style:none;
    display:inline-block;
    padding:14px 24px 24px;
    padding:12px 22px 22px;
    border-bottom:0;
    cursor:pointer;
    cursor:hand;
    z-index:19999!important
}

li#menu-logo {
    text-decoration:none;
    color:#fff;
    border:none;
}

li#menu-logo:hover {
    border:none
}

#menu li a {
    color:#000;
    text-decoration:none
}

#menu-right li:hover a {
    border-bottom:2px #000 solid
}

.menu-right {
    left:0
}

#menu-spacer {
    height:70px;
    display:block;
    width:100%
}

.menu-content {
    z-index:500;
    border:2px solid #000;
    border-bottom:3px solid #000;
    width:100%;
    background-color:#fff;
    margin-top:-2px;
    display:none;
	-webkit-border-bottom-right-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.menu-content h2 {
    margin-left:20px
}

#menu-logo {
    width:250px;
    padding:3px 0 0 10px!important;
    /*border-left:15px #000 solid;*/
    margin-left:5px;
    /*background:#152558!important;*/
    color:#fff!important
}

#exposeMask {
    z-index:800!important
}

.menu-icon {
    margin-bottom:-3px;
    margin-right:3px
}

.typeahead.dropdown-menu {
	min-width: 250px;
	margin-top: 49px!important;
	padding-top: 63px !important;
}

.typeahead {
	color: #fff;
	vertical-align: top;
	margin-left: -190px!important;
	margin-top: 24px!important;
	margin-left: -355px!important;
	background: #2c2f83;
	background: -moz-linear-gradient(top, #2c2f83 0%, #06a0ba 49%, #00b2c3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c2f83), color-stop(49%,#06a0ba), color-stop(100%,#00b2c3));
	background: -webkit-linear-gradient(top, #2c2f83 0%,#06a0ba 49%,#00b2c3 100%);
	background: -o-linear-gradient(top, #2c2f83 0%,#06a0ba 49%,#00b2c3 100%);
	background: -ms-linear-gradient(top, #2c2f83 0%,#06a0ba 49%,#00b2c3 100%);
	background: linear-gradient(to bottom, #2c2f83 0%,#06a0ba 49%,#00b2c3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c2f83', endColorstr='#00b2c3',GradientType=0 );
	box-shadow: #D4D4D4 0px 5px 17px;
}

.typeahead li {
    display:list-item!important;
    /*background:#12103F;*/
    height:8px;
    min-width:157px;
	white-space: normal;
}

.typeahead li a {
    color:#fff!important
}

#menu-left {
    /* background:#152558!important; */
    color:#fff;
    vertical-align:top
}

#menu-logo {
    margin-right:0!important
}

#search-box {
    padding:0!important;
    vertical-align:top;
    height:9px;
    margin-left:-50px;
    margin-top:-2px;
    padding-right:0!important;
    margin-top:10px;
    margin-left:10px
}

#menu-logo {
    width:auto!important
}

#search-box.menu-link-hover {
    border:0;
    border-bottom:0!important;
    background:transparent;
    padding:0!important;
    z-index:19999!important
}

#logo-box {
    width:155px
}

#menu-items {
    margin-left:15px;
    margin-top:20px
}

#menu-content-container {
}

#menu-container #menu-items .menu-list h1 {
    text-transform:uppercase;
	font-family: sans-serif;
}

#menu-content-container .union ul {
    vertical-align:top;
    background:#fefefe;
    min-height:100px;
    min-width:70px;
    margin-bottom:15px
}

.menu-list {
    display:inline-block;
    min-width:100px;
    margin-right:30px;
    vertical-align:top
}

#menu-content-container .menu-content li {
    display:list-item!important;
    margin:0!important;
    padding:0!important;
    padding-bottom:5px!important
}

#menu-content-container h1,#menu-content-container h3 {
    font-size:15px;
    margin-bottom:10px;
    border-bottom:none;
    margin-top:0
}

#menu-content-container li {
    border:none
}

#menu-content-container li a {
    background:none
}

#menu-content-container ul li {
    margin-left:5px!important
}

#ss-box {
    padding-left:20px
}

.speech-bubble {
    position:absolute;
    top:65px;
    right:45px;
    border-left:1px solid rgba(0,0,0,0.27);
    padding-left:15px;
    min-height:150px
}

.teaser-text,.teaser-image {
    display:inline-block;
    vertical-align:top
}

.teaser-text p {
    margin-top:0
}

.speech-bubble img {
    height:120px;
    width:auto
}

.speech-bubble .teaser-text {
    font-size:11px;
    line-height:18px;
    width:185px;
    margin-left:5px;
    margin-top:10px
}

.stts {
    text-transform:lowercase;
    opacity:.6;
    line-height:20px;
    font-style:italic;
    padding:0!important;
    height:9px;
    padding-right:0!important;
    margin-left:17px;
    margin-left:80px
}

#ss-input {
	display: none;
	width: 200px;
	margin-left: 3px;
	position: relative;
	padding: 10px;
	top: 49px;
	left: -110px;
	border: 10px #00B2C3 solid;
}

#menu-content-container h3 {
    padding:0;
    margin-left:0;
    font-weight:400;
    border-bottom:1px solid #000
}

#menu-content-container .menu-content ul li {
    margin-left:0!important
}

.msl-imagenav-description,.msl-imagenav-image {
    display:none
}

.menu-content.login {
    width:380px
}

#menu-left {
    height:43px
}

#menu-left {
    /* background:#12103F!important; */
    position:relative;
    min-width:85px;
    vertical-align:top
}

.suicon {
	padding-right:10px;
    left:0;
    top:0;
	top: 0;
	width: 166px;
	height: 55px;
	background: url('/stylesheet/su/logo-su-55px.png') no-repeat;
}

.suicontext {
    position:absolute;
    left:90px;
    top:4px
}

li#menu-logo {
    padding:0!important;
    padding-right:30px!important;
    top:-60px;
}

#menu li {
    padding:none;
    border-bottom:none
}

#menu-logo span {
    height:auto;
    width:auto
}

#search-box {
    position:absolute;
    margin-left:20px;
    left:90px;
    top:auto
}

.suicontext {
    display:none
}

#menu-left ul {
    width:10px;
    margin:0;
    padding:0
}

.search-icon {
    vertical-align:bottom;
    margin-top: 4px;
}

.menu-far-right,.menu-offleft {
    position:absolute;
    top:3px
}

.menu-far-right {
    right:0
}

#menu-right {
    position:relative;
    height:38px
}

.menu-content.union {
    float:right;
    min-height:230px
}

.menu-content.login {
    min-height:350px
}

.menu-content.basket {
    float:left;
    min-width:461px;
    min-height:100px;
    width:auto;
    background:#fff
}

/* Admin Link Styles */
/* Needs to be reconciled with the styles above */
#menu-content-container ul li {
    margin-left:5px!important;
    border:none
}

#menu-content-container h3 {
    border-bottom:none!important;
    margin-left:20px!important
}

#menu-content-container ul li a:hover {
    text-decoration:none!important;
    border:none!important
}

.login-controlpanel-links,.login-admin-links {
    display:inline-block!important;
    vertical-align:top
}

.login-controlpanel-links p {
    padding:5px;
    margin-left:19px;
    background:rgba(21,37,88,0.1);
    white-space:normal;
    word-wrap:break-word
}

.login-controlpanel-links .logout {
    margin-left:19px!important
}

.login-controlpanel-links li {
    background:none!important
}

.login-controlpanel-links ul {
    margin-left:20px
}

#menu #menu-content-container li:hover {
    border-bottom:none!important
}

#controlpanel {
    padding-top:20px
}

#controlpanel ul {
    margin-left:20px!important;
    list-style:none;
    margin:0;
    padding:0;
    word-wrap:break-word;
    width:190px;
    white-space:normal
}

#menu-content-container h4 {
    font-size:15px;
    margin-left:20px
}

#menu-content-container h4 a {
    text-decoration:none;
    color:#509BD6
}

.login-admin-links,.login-controlpanel-links {
    padding-bottom:20px
}

#menu-content-container .menu-content li.logout {
    padding:5px!important;
    margin-left:18px!important;
    background:#152558!important;
    color:#fff;
    width:50px;
    float:left
}

#login-container .logout a {
    color:#fff
}

#menu-content-container div.menu-content.basket h3 {
    border-bottom:none!important;
    margin-left:0!important;
    margin-top:20px
}

div.sidepanel.controlpanel {
    width:205px
}

/* Basket Styles */
.menu-content.basket #basket dl {
    margin:0!important
}

.menu-content.basket #basket {
    padding-bottom:20px
}

.menu-content.basket #basket dt {
    display:list-item;
    list-style-type:square;
    margin-left:18px
}

.menu-content.basket #basket dd {
    margin:0;
    padding:0;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:20px
}

.menu-content.basket #basket dd.price {
    color:#152558;
    font-weight:700;
    float:left;
    height:15px;
    margin-left:18px
}

.menu-content.basket #basket a {
    color:#000
}

.menu-content #login-container .login-admin-links {
    max-width:170px;
    white-space:normal
}

.gold-underline {
    border-bottom:3px solid rgba(255,225,66,1)!important
}

.basket-count {
    position:absolute;
    vertical-align:top;
    text-align:center;
    width:16px;
    top:5px;
    font-size:9px!important
}

.page_shop.page_reviewbasket .menu-item-basket,.page_shop.page_customise .menu-item-basket,.page_shop.page_checkout .menu-item-basket {
    opacity:.3;
    pointer-events:none;
    cursor:default
}




li#menu-logo {
padding-right: 35px !important;
Padding-left: 0px !important;
margin-top:-5px !important;
margin-left:0px !important;
}