.iframe-pop-container {
	width: 411px;
	height: 245px;
	background: rgba(9, 82, 146, .90);
	position: absolute;
	overflow: hidden;
	margin-top: 45px;
	border: 5px solid #21629C;
	border-top: none;
}
.blocker {
    background: rgb(255, 255, 255);
    position: absolute;
    top: 139px;
    width: 60px;
    height: 12px;
    left: 288px;
    z-index: 200;
    display: none;
}
.login-help {
    position: absolute;
    z-index: 200;
    font-size: 10px;
    color: #095292;
    padding: 5px;
    display: none;
    margin-left: 5px;
}
.login-pop {
    position: absolute;
    bottom: -71px;
    left: -78px;
    width: 524px;
    height: 465px;
    background: #d00;
    overflow: hidden;
	background: #21629C url('/stylesheet/su/preloader-white-on-sublue.gif') no-repeat 280px 264px;
	display:none;
}
.login-logo {
    display: inline-block;
    position: absolute;
    height: 45px;
}
.swansea-uni-student .login-logo {
    background: #095292 url('/stylesheet/su/logo-su-intranet.png') no-repeat 4px 5px;
    display: inline-block;
    position: absolute;
    height: 45px;
    width: 373px;
}
#ssoexternalcontainer{
    height: 245px;
    position: relative;
}
#ssoexternal{
	width: 377px;
	height: 15px;
	margin: auto !important;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	box-shadow: 0px 1px 8px 0px rgba(21, 37, 88, 1.2);
}
a#ssolink{
	color:#fff;
	text-decoration:none;
	padding: 5px;
	padding-left: 20px;
	margin-left: -8px;
	margin-right: -11px;
	background: url('/stylesheet/su/icon-key-white.png') no-repeat 0px 6px;
}
.guest .login-logo {
    background: #3AAB30;
    position: relative;
}
.staff .login-logo {
    background: #D94A38;
    position: relative;
}
#ctl00_LoginControl_btnLogin,#ctl00_ctl17_btnLogin{
	width:200px;
}
.login-content .sidepanel {
	color:#fff;
}
#login-container { margin-top: 20px }
.login-button { display: inline-block !important }
.login-content .login-button { min-width: 130px }
.login-button-group {
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    right: 0px;
    top: 0px;
}
.login-button-group .login-button { display: list-item }
.login-as {
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle !important;
    margin-right: 0px;
	display:none !important;
}
.underline { text-decoration: underline }
#menu .m-btn.login-button {
    zoom: .8;
    margin: 0px !important;
}
.m-btn.blue { background: #095292 }
.login-content { margin-left: 10px }
.menu-content.login ,.menu-content.account{
    width: 390px;
}
.guest,
.staff { display: none }
.login input {
    display: block;
    position: relative;
}
.login input {
    display: block;
    position: relative;
    height: 25px;
    width: 190px;
    margin-bottom: 10px;
}
.login-content .mslwidget {
    white-space: normal;
    position: relative;
    padding: 15px;
    padding-bottom: 10px;
}
#menu-container .msl_list { background: transparent }
.login-font {
    color: #fff;
    font-size: 25px;
    padding-left: 15px;
    display: block;
    padding-top: 10px;
}
.login-gueststaff .mslwidget { color: #fff }
#ctl00_ctl11_btnLogin {
    margin-top: 10px;
    float: right;
    position: absolute;
    top: 70px;
    left: 300px;
    height: 41px;
    width: 145px;
}
.login-content .msl_list {
    margin-left: 15px !important;
    margin-top: 0px !imporant;
}
.login-content {
    height: 295px;
}
.login-content,.login-logo{
    width: 419px;
}
.login-content.red {
    background: rgba(217, 74, 56, 0.83);
    border: 1px solid #d84a38;
}
.login-content.green {
    background: rgba(53, 170, 71, 0.73);
    border: 1px solid #35aa47;
}
.login-content h3{
	display:none;
}
.resetpass { margin-top: 45px !important }
.staff .msl_list .new-guest,
.guest .msl_list .new-staff { display: none !important }
.login-gueststaff { font-size: 16px }

.menu-content.login {
	width: 675px;
}
.menu-content.account {
	width: 400px;
}
.swansea-uni-student .login-logo {
	width: 421px;
}
.login-pop {
	zoom:1;
	bottom: 0px;
	left: -100px;
	width: 515px;
	height: 390px;
}

.login-help-text{
	font-family: verdana;
	font-size: 9px;
	padding: 0px 10px;
	line-height: 11px;
	width: 227px;
	height: 200px;
	white-space: normal;
	float: right;
	margin-top: -6px;
}
.text-blue{
	color:#095292;
}
.text-green{
	color:#35aa47;
}
.text-red{
	color:#d84a38;
}
.text-purple{
	color:#852b99;
}



/***********

Mobile Login Styles

************/

.page_mobilelogin .login-content {
margin-left:0px;
width:400px
}
.page_mobilelogin .login-logo {
width:400px
}
.page_mobilelogin .login-pop{
height: 405px;
left: -73px;
width: 540px;
bottom: 0px;
-webkit-transform: scale(1, 1);
zoom:1;
}
.page_mobilelogin .iframe-pop-container{
width: 400px;
height:250px;
border:0px;
}
.page_mobilelogin .swansea-uni-student .login-logo {
width: 400px;
}
.page_mobilelogin .staff{
display:block;
}

.page_mobilelogin #msl_admin li {
border-top: 0px;
}
.page_mobilelogin .msl_admin {
background: rgba(255, 255, 255, 0.4);
padding: 0px;
text-decoration: none;
padding: 10px 10px;
font-size: 18px;
}

.page_mobilelogin .login-controlpanel-links p {
margin-left: 0px;
}
.page_mobilelogin .login-controlpanel-links ul {
margin-left: -40px;
}
.page_mobilelogin .login-controlpanel-links li {
list-style: none;
}
.page_mobilelogin .login-controlpanel-links li  a{
padding: 10px 10px;
text-decoration:none;
background: rgba(255, 255, 255, 0.4);
margin-bottom:10px;
}
.page_mobilelogin .login-controlpanel-links .logout {
margin:0px;
}
.page_mobilelogin .login-controlpanel-links .logout {
margin-left:0px !important;
margin-top: 10px;
}
.page_mobilelogin #ctl00_controlpanel_ulControlPanel{
margin-top: 10px;
}

.page_mobilelogin .msl_person,
.page_mobilelogin .msl_contact,
.page_mobilelogin .msl_message,
.page_mobilelogin .msl_shop,
.page_mobilelogin .msl_edit,
.page_mobilelogin .msl_add {
background:none;
background: rgba(255, 255, 255, 0.4);
}

.page_mobilelogin #controlpanel ul li {
border-bottom: 0px;
margin-bottom: 25px !important;
}

.page_mobilelogin #controlpanel ul {
margin-left: 0px !important;
}

#controlpanel .page_mobilelogin .msl_edit,#controlpanel .page_mobilelogin .msl_add{
padding-left: 0px !important;
}

.page_mobilelogin .wrapper{

}

.page_mobilelogin .msl_admin_menu{
width:180px;
}

.page_mobilelogin #controlpanel .msl_edit,
.page_mobilelogin #controlpanel .msl_add{
padding-left:0px !important;
}

.page_mobilelogin #controlpanel .msl_edit{
margin-top:10px;
}

.page_mobilelogin #controlpanel{
display:none;
}

.page_mobilelogin .ssoexternalcontainer{
display:none;
}
.page_mobilelogin .login-pop{
display:block;
}
