.unionListSlider {
	height: 258px;
}
.unionSelectorA {
	width: 100%;
	text-align: center;
}
.unionType {
	vertical-align: top;
	display: inline-block;
	width: 29%;
	min-height: 150px;
	margin: 0 20px 0 20px;
	font-family: 'MuseoSans300';
}
.unionType.unionTypeSociety {
	background-image: url('/img/activitiesTypeSport.jpg');
}
.unionType.unionTypeSport {
	background-image: url('/img/activitiesTypeSport.jpg');
	background-position: center center;
	background-size: cover;
}

#aside ul.nav-list{
	background: rgba(255, 255, 255, 0.5);
}

/*
 * Union Landscape Slider
 * DO NOT CHANGE - CUSTOMISE AT BOTTOM
 */
.sliderUnion {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 684px;
	min-height: 221px;
	height: 221px;
}
.sliderUnion .slider {
	width: 100%;
	height: 100%;
}

.sliderUnion .slider .slide {
	float: left;
	width: 228px;
	height: 165px;
	padding-right: 25px;
}
.sliderUnion .slider .slide:last-of-type {
	padding-right: 0px;
}

.sliderUnion .slider .slide .slide-inner {
	width: 218px;
	border: 1px solid #000;
}

.selected .slider .slide .slide-inner{
	border: 1px solid #BC5CA2;
}

@media only screen and (min-width: 912px) {
	.sliderUnion {
		width: 912px;
	}
}

@media only screen and (min-width: 1140px) {
	.sliderUnion {
		width: 1140px;
	}	
}
.activity-slider-group{
	height:195px;
}

#unionCategorySlider .slider:hover {
	animation: none !important;
	-webkit-animation: none !important;
}
.sliderUnion div.slide a.su-activity-category img {
	opacity: 0.3 !important;
}
.sliderUnion div.slide a.su-activity-category img:hover {
	opacity: 1 !important;
}
.sliderUnion div.slide.selected a.su-activity-category img {
	opacity: 1 !important;
}
.sliderUnion div.slide.selected a.su-activity-category img:hover {
	opacity: 1 !important;
}
.sliderUnion img {
	height: 160px !important;
}
.sliderUnion .unionCatName {
	xxheight: 45px;
	background-color: #00B2C3;
	background-color: #000;
	font-family: 'MuseoSans500';
	font-size: 13pt;
	color: white;
	text-align: center;
	padding: 2px;
	xxtext-transform: uppercase;
	position: absolute;
	top:120px;
	padding-right: 4px;
}
.sliderUnion .unionItemName {
	background-color: #00B2C3;
	background-color: #000;
	font-family: 'MuseoSans500';
	font-size: 13pt;
	color: white;
	text-align: left;
	padding: 2px;
	xxtext-transform: uppercase;
	position: absolute;
	top: 120px;
	padding-right:4px;
	max-width: 212px;
} 

.sliderUnion .slide.selected .slide-inner {
	border-color: #00B2C3;
}

.sliderUnion .slide.selected .unionCatName,
.sliderUnion .slide.selected .unionItemName {
	background-color: #000;
	background-color: #00B2C3;
}
