/* 
Hide tickets on Venue Pages
In the future make a sub folder for venues called /myVenue
for now hide all merchandise on all myUnion pages
*/
.page_myunion .orgproducts{
	display:none;
}

.activitiesListSlider {
	height: 258px;
}
.activitiesSelectorA {
	width: 100%;
	text-align: center;
}
.activitiesType {
	vertical-align: top;
	display: inline-block;
	width: 29%;
	min-height: 150px;
	margin: 0 20px 0 20px;
	font-family: 'MuseoSans300';
}
.activitiesType.activitiesTypeSociety {
	background-image: url('/img/activitiesTypeSport.jpg');
}
.activitiesType.activitiesTypeSport {
	background-image: url('/img/activitiesTypeSport.jpg');
	background-position: center center;
	background-size: cover;
}

#aside ul.nav-list{
	background: rgba(255, 255, 255, 0.5);
}

/*
 * Activities Landscape Slider
 * DO NOT CHANGE - CUSTOMISE AT BOTTOM
 */
.sliderActivities {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 684px;
	min-height: 221px;
	height: 221px;
}
.sliderActivities .slider {
	width: 100%;
	height: 100%;
}

.sliderActivities .slider .slide {
	float: left;
	width: 228px;
	height: 165px;
	padding-right: 25px;
}
.sliderActivities .slider .slide:last-of-type {
	padding-right: 0px;
}

.sliderActivities .slider .slide .slide-inner {
	width: 218px;
	border: 1px solid #000;
}

.selected .slider .slide .slide-inner{
	border: 1px solid #BC5CA2;
}

@media only screen and (min-width: 912px) {
	.sliderActivities {
		width: 912px;
	}
}

@media only screen and (min-width: 1140px) {
	.sliderActivities {
		width: 1140px;
	}	
}
.activity-slider-group{
	height:195px;
}

#activitiesCategorySlider .slider:hover {
	animation: none !important;
	-webkit-animation: none !important;
}
.sliderActivities div.slide a.su-activity-category img {
	opacity: 0.3 !important;
}
.sliderActivities div.slide a.su-activity-category img:hover {
	opacity: 1 !important;
}
.sliderActivities div.slide.selected a.su-activity-category img {
	opacity: 1 !important;
}
.sliderActivities div.slide.selected a.su-activity-category img:hover {
	opacity: 1 !important;
}
.sliderActivities img {
	height: 160px !important;
}
.sliderActivities .activitiesCatName {
	xxheight: 45px;
	background-color: #51a351;
	background-color: #000;
	font-family: 'MuseoSans500';
	font-size: 13pt;
	color: white;
	text-align: center;
	padding: 2px;
	xxtext-transform: uppercase;
	position: absolute;
	top:120px;
	padding-right: 4px;
}
.sliderActivities .activitiesItemName {
	background-color: #51a351;
	background-color: #000;
	font-family: 'MuseoSans500';
	font-size: 13pt;
	color: white;
	text-align: left;
	padding: 2px;
	xxtext-transform: uppercase;
	position: absolute;
	top: 120px;
	padding-right:4px;
	max-width: 212px;
} 
.sliderActivities.sport .slide.selected .slide-inner {
	border-color: #51a351;
}
.sliderActivities.sport .slide.selected .activitiesCatName,
.sliderActivities.sport .slide.selected .activitiesItemName {
	background-color: #000;
	background-color: #51a351;
}
.sliderActivities.society .slide.selected .slide-inner {
	border-color: #BC5CA2;
}
.sliderActivities.society .slide.selected .activitiesCatName,
.sliderActivities.society .slide.selected .activitiesItemName {
	background-color: #000;
	background-color: #BC5CA2;
}
