#media-container h2 {
	padding-top: 20px;
}
#media-container .dcsns-toolbar {
	display: none !important;
}
#su-media-frontpage {
	margin-bottom: 20px;
}
.dcsns {
	padding:0px !important;
	background: transparent !important;
}

#su-media-frontpage .dcsns-content {
	height: 450px;
	margin:0px !important;
}
ul.stream {
	vertical-align: top;
}

.stream li{
	border:none;
}


ul.stream li.dcsns-li {
	width: 215px;
	height: 220px;
	vertical-align: top;
	display: inline-block;
	overflow: hidden;
	border-right: 12px solid #f5f5f5;
	border-bottom: 10px solid #f5f5f5;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
}
ul.stream li.dcsns-li div.inner {
	height: 178px;
	overflow: hidden;
	text-overflow: ellipsis;
}
ul.stream li.dcsns-li .section-intro {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}
ul.stream li.dcsns-li div.inner span.section-thumb {
	float: right;
}
ul.stream li.dcsns-li div.inner span.section-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	height: 125px;
	display: inline;
	text-align: justify;
}
ul.stream li.dcsns-li div.inner span.twitter-user {
	text-align: left;
	clear: left;
}
ul.stream li.dcsns-li.dcsns-facebook div.inner span.section-user {
	float: none;
	font-style: normal;
	font-weight: bold;
	padding: 0;
	text-align: left;
}
ul.stream li.dcsns-li.dcsns-facebook div.inner span.section-user a {
	color: #444;
}
ul.stream li.dcsns-li.dcsns-facebook div.inner span.section-user a:hover {
	color: #38AEAE;
}
ul.stream li.dcsns-li.dcsns-facebook div.inner span.section-title {
	display: none;
	text-align: left;
}
ul.stream li.dcsns-li.dcsns-facebook div.inner span.section-text {
	height: auto;
	max-height: 134px;
	display: block;
}
ul.stream li.dcsns-li div.inner span.section-text img {
	display: none;
}
ul.stream li.dcsns-li div.inner span.section-thumb img {
	max-height: 150px;
	margin-left: 10px;
	margin-bottom: 5px;
}

@media only screen and (max-width: 683px) {
	#su-media-frontpage {
		width: 100%;
	}
}

@media only screen and (min-width: 684px) {
	#su-media-frontpage {
		width: 684px;
	}
}

@media only screen and (min-width: 912px) {
	#su-media-frontpage {
		width: 912px;
	}
}

@media only screen and (min-width: 1140px) {
	#su-media-frontpage {
		width: 1140px;
	}
}