.su-blog-container {
	width: 100%;
}
.su-blog-container  h2{
	margin-left:-30px;
}

.su-blog {
	display: inline-block;
	width: 100%;
	vertical-align: top;
}
.su-blog-post {
	position:relative;
	display: inline-block;
	width: 228px;
	height: 200px;
	vertical-align: top;
	background: rgba(204, 204, 204, 0.30);
}
.su-blog-post{
	position: relative;
	display: inline-block;
	white-space: normal;
}

#officer-blogs,.dcsns-content{
	width: 1140px !important;
	overflow: hidden;
	height: 271px;
	white-space: nowrap;
}

.dcsns-content{
	height:205px;
	white-space: normal;
}



.su-blog-post:before {
	content: "";
	position: absolute !important;
	bottom: 25px;
	right: 20px !important;
	border-width: 0px 0 25px 25px !important;
	border-style: solid;
	border-color: transparent #fff;
	background: none;
	color: #fff;
	xz-index: -100;
	margin-bottom:-10px;
}

.su-blog-post-inner {
	width: 196px;
	height: 140px;
	margin: 5px;
	overflow: hidden;
	margin: 5px;
	background: #fff;
	padding: 10px;
	position: relative;
}

.su-blog-post-inner div.title {
	font-family: 'MuseoSans500';
	font-size: 14px;
	padding-bottom: 10px;
	height: 40px;
}

.su-blog-post-inner div.intro {
	font-family: 'MuseoSans300';
	font-size: 12px;
}

.su-blog-post-inner img.author {
	width: 100px;
	height: 100px;
	float: right;
	margin: 0px 0px 5px 5px;
}

.su-social-container {
	width: 100%;
}

.su-social {
	display: inline-block;
	width: 100%;
	height: 400px;
	vertical-align: top;
}

#twitter-widget-0 {
	width: 100%;
}

.ib {
	display: inline-block;
	vertical-align: top;
}

@media only screen and (max-width: 683px) {
	.su-blog-container, .su-blog {
		width: 100%;
	}
	.su-social-container, .su-social {
		width: 100%;
	}
	.su-blog-post {
		width: 50%;
	}
	.su-blog-post-inner {
		width: 90%;
	}
}

@media only screen and (min-width: 684px) {
	.su-blog-container, .su-blog {
		width: 684px;
	}
	.su-social-container, .su-social {
		width: 684px;
	}
}

@media only screen and (min-width: 912px) {
	.su-blog-container, .su-blog {
		width: 456px;
	}
	.su-social-container, .su-social {
		width: 456px;
	}
	.su-social {
		height: 600px;
	}
}

@media only screen and (min-width: 1140px) {
	.su-blog-container, .su-blog {
		width: 684px;
	}
	.su-social-container, .su-social {
		width: 456px;
	}
	.su-social {
		height: 400px;
	}
}