/*
 * A4 Portrait Slider
 * DO NOT CHANGE - CUSTOMISE AT BOTTOM
 */
.sliderPortrait {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 684px;
	height: 372px; /* 322 + 50 */
}
.sliderPortrait .slider {
	width: 100%;
	height: 100%;
}
.sliderPortrait .slider .slide {
	float: left;
	width: 228px;
	height: 372px; /* 322 + 50 */
}
.sliderPortrait .slider .slide .slide-inner {
	width: 218px;
	height: 360px; /* 312 + 48 */
	margin: 5px;
}
/*
 * Small Landscape Slider
 * DO NOT CHANGE - CUSTOMISE AT BOTTOM
 */
.sliderSmall {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 684px;
	height: 161px;
}
.sliderSmall .slider {
	width: 100%;
	height: 100%;
}
.sliderSmall .slider .slide {
	float: left;
	width: 228px;
	height: 161px;
}

.sliderSmall .slider .slide .slide-inner {
	width: 218px;
	height: 151px;
	margin: 5px;
}

/*
 * Dynamic Size Media Queries
 */
@media only screen and (max-width: 683px) {
}
@media only screen and (min-width: 684px) {
}
@media only screen and (min-width: 912px) {
	.sliderPortrait, .sliderSmall {
		width: 912px;
	}
}
@media only screen and (min-width: 1140px) {
	.sliderPortrait, .sliderSmall {
		width: 1140px;
	}	
}

/*
 * EVENTS CUSTOMISATION BELOW HERE
 */

.slider .slide .slide-inner {
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'museo_sans_500regular';
	font-size: 13px;
}

.sliderPortrait .slider .slide .slide-inner {
}

.sliderSmall .slider .slide .slide-inner {
	background-color: #87CEEB;
}

.slider .slide .slide-inner img {
	width: 228px;
	height: 308px;
}

.slider .slide .slide-inner .event-title {
	margin: 2px -5px 0px -5px;
	padding: 5px 10px 0px 10px;
	height: 20px;
	font-size: 14px;
}

.slider .slide .slide-inner .event-date {
	margin: 0px 5px 0px 5px;
	font-style: italic;
	overflow: visible !important;
	height: 20px;
}

.slider .slide:first-child .slide-inner .event-title {
	margin: 2px -5px 0px 0px !important;
	padding: 5px 10px 0px 5px;
}

.slider .slide:last-child .slide-inner .event-title {
	margin: 2px 0px 0px -5px !important;
	padding: 5px 5px 0px 10px;
}

.slider .slide .slide-inner .event-location {
	margin: 0px 5px 0px 5px;
	height: 20px;
}