/*
 * GENERAL LIGHTBOX
 */

div.sulb {
	display: none;
	width: 75%;
	min-width: 300px;
	height: 75%;
	min-height: 300px;
	background-color: transparent;
	overflow-y: hidden;
	padding-bottom: 34px;
}

div.sulb div.sulb-inner {
	width: 100%;
	height: 100%;
	background-color: white;
	overflow-y: auto;
}

div.sulb div.sulb-inner:after {
	content: "";
	position: absolute !important;
	bottom: 10px;
	right: 25px !important;
	border-width: 0px 0 25px 25px !important;
	border-style: solid;
	border-color: transparent white;
	background: none;
}

div.sulb div.sulb-author {
	color: white;
	text-align: right;
	padding-top: 10px;
	padding-right: 70px;
}
/*
 * BLOG LIGHTBOX
 */

div.sulb div.sulb-inner.blog h2.title {
	xpadding: 20px 40px 0px 40px;
}
div.sulb div.sulb-inner.blog p {
	font-size: 12px;
}
div.sulb div.sulb-inner.blog img.lead {
	max-width: 220px;
	max-height: 311px;
	float: left;
	margin: 10px 20px 10px 20px;
}

div.sulb div.sulb-inner.blog p.info {
	font-style: italic;
}
div.sulb div.sulb-inner.blog p.info span.highlight {
	font-style: normal;
	font-weight: bold;
}


/*
 * NEWS LIGHTBOX
 */

div.sulb div.sulb-inner.news h2.title {
	xpadding: 20px 40px 0px 40px;
}

div.sulb div.sulb-inner.news p {
	font-size: 12px;
}

div.sulb div.sulb-inner.news img.lead {
	max-width: 220px;
	max-height: 311px;
	float: left;
	margin: 10px 20px 10px 20px;
}


div.sulb div.sulb-inner.news p.info {
	font-style: italic;
}
div.sulb div.sulb-inner.news p.info span.highlight {
	font-style: normal;
	font-weight: bold;
}

/*
 * EVENTS LIGHTBOX
 */

div.sulb div.sulb-inner.event {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

div.sulb div.sulb-inner.blog h2.title ,div.sulb div.sulb-inner.news h2.title,div.sulb div.sulb-inner.event div.title {
	height: 45px;
	font-family: 'MuseoSans500';
	font-size: 32px;
	margin: 15px 0px 0px 25px;
}

div.sulb div.sulb-inner.event img.poster {
	width: 220px;
	float: left;
	margin: 25px 20px 10px 25px;
}

div.sulb div.sulb-inner.blog .desc,div.sulb div.sulb-inner.news .desc,div.sulb div.sulb-inner.event .desc {
	min-height: 315px;
	width: 500px;
	display: inline-block;
	text-align: left;
	margin-left: 20px;
}

div.sulb div.sulb-inner.event .desc .info {
	font-weight: bold;
	font-style: italic;
	font-size: 20px;
}

div.sulb div.sulb-inner.event .buy {
	width: 200px;
	float: right;
	margin: 10px 20px 10px 20px;
}

div.sulb div.sulb-inner.event .buy select,
div.sulb div.sulb-inner.event .buy button {
	font-family: 'MuseoSans500';
}

div.sulb div.sulb-inner.event .buy .buy-info {
	display: none;
}

div.sulb div.sulb-inner.event .buy .buy-info select {
	margin-bottom: 5px;
}

div.sulb div.sulb-inner.event h2.whiteToGray {
	background: #e8e8e8 url('/img/whitetobeige.png') repeat-x top;
	padding-top: 20px;
	padding-left: 25px;
	margin-left: 0px !important;
	margin-top: 0px;
}

div.sulb div.sulb-inner.event h2.grayToWhite {
	background: white url('/img/whitetobeige-inverse.png') repeat-x top;
	padding-top: 30px;
	padding-left: 25px;
	margin-left: 0px !important;
	margin-top: 0px;
}

div.sulb div.sulb-inner.event .sliderPhotoGallery {
	width: 100%;
	min-height: 100px;
	clear: both;
	text-align: center;
	background: #e8e8e8
}

div.sulb div.sulb-inner.event .gallery img {
	margin: 10px;
}

div.sulb div.sulb-inner.event div.sulb-relatedEvents {
	height: 352px;
	overflow: hidden;
	margin-bottom: 20px;
	margin-left: 25px;
}

div.sulb div.sulb-inner.event div.sulb-relatedevent {
	display: inline-block;
	width: 228px;
	height: 342px;
	margin-right: 25px;
}

div.sulb div.sulb-inner.event div.sulb-relatedevent a {
	color: black;
	text-decoration: none;
}

div.sulb div.sulb-inner.event div.sulb-relatedevent .event-title {
	margin: 2px -5px 0px -5px;
	padding: 5px 10px 0px 10px;
	height: 20px;
	width: 208px;
	font-size: 14px;
	font-family: 'MuseoSans500';
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

div.sulb div.sulb-inner.event div.sulb-relatedevent .event-date {
	margin: 0px 5px 0px 5px;
	overflow: visible !important;
	height: 20px;
	font-style: italic;
	font-size: 14px;
	font-family: 'MuseoSans500';
}

/*
 * Lightbox Photo Gallery Slider
 * DO NOT CHANGE - CUSTOMISE AT BOTTOM
 */
.sliderPhotoGallery {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	height: 200px;
}
.sliderPhotoGallery .slider {
	width: 100%;
	height: 100%;
}
.sliderPhotoGallery .slider .slide {
	float: left;
	height: 190px;
	width: 270px;
}
.sliderPhotoGallery .slider .slide.portrait {
	width: 130px;
}
.sliderPhotoGallery .slider .slide .slide-inner {
	height: 180px;
	width: 260px;
	margin: 5px 5px 5px 5px;
}
.sliderPhotoGallery .slider .slide.portrait .slide-inner {
	width: 120px;
}

.sliderPhotoGallery .slider .slide .slide-inner {
	line-height: 190px;
}
.sliderPhotoGallery .slider .slide .slide-inner img {
	vertical-align: middle;
	max-height: 95%;
}

@media only screen and (max-width: 715px) {
	div.sulb div.sulb-inner.event div.title {
		padding: 20px 0 10px 0;
	}
	div.sulb div.sulb-inner.event {
		text-align: center;
	}
	div.sulb div.sulb-inner.event .buy {
		width: 100%;
		float: none;
		padding: 0;
		margin: 0;
		margin-bottom: 20px;
	}
	div.sulb div.sulb-inner.event .buy div {
		display: inline-block;
	}
	div.sulb div.sulb-inner.event img.poster {
		width: 99%;
		max-width: 300px;
		float: none;
		padding: 0;
		margin: 0;
		border: none;
	}
	div.sulb div.sulb-inner.event .desc {
		width: 100%;
		float: none;
		padding: 0;
		margin: 0;
	}
}

/*
 * BOOTSTRAP STYLING
 */

.img-rounded {
/*
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
		  */
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.img-circle {
/*
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
		  */
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #a2a2a2;
  /*
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
		  */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-large {
  padding: 11px 19px;
  font-size: 17.5px;
  /*
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
		  */
}

.btn-large [class^="icon-"],
.btn-large [class*=" icon-"] {
  margin-top: 4px;
}

.btn-small {
  padding: 2px 10px;
  font-size: 11.9px;
  /*
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
		  */
}

.btn-small [class^="icon-"],
.btn-small [class*=" icon-"] {
  margin-top: 0;
}

.btn-mini [class^="icon-"],
.btn-mini [class*=" icon-"] {
  margin-top: -1px;
}

.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  /*
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
		  */
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}

.btn-primary:active,
.btn-primary.active {
  background-color: #003399 \9;
}

.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}

.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  *background-color: #222222;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  color: #ffffff;
  background-color: #222222;
  *background-color: #151515;
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}

button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}

button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}