
/* --------------------------------------------------------------------
 * Define font
 * -------------------------------------------------------------------- */


@font-face {
    font-family: 'museo_sans_500regular';
    src: url('MuseoSans_500-webfont.eot');
    src: url('MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('MuseoSans_500-webfont.woff') format('woff'),
         url('MuseoSans_500-webfont.ttf') format('truetype'),
         url('MuseoSans_500-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NovecentowideUltraLightBold';
    src: url('Novecentowide-Medium-webfont.eot');
    src: url('Novecentowide-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('Novecentowide-Medium-webfont.woff') format('woff'),
         url('Novecentowide-Medium-webfont.ttf') format('truetype'),
         url('Novecentowide-Medium-webfont.svg#NovecentowideUltraLightBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'NovecentowideLightBold';
    src: url('Novecentowide-DemiBold-webfont.eot');
    src: url('Novecentowide-DemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Novecentowide-DemiBold-webfont.woff') format('woff'),
         url('Novecentowide-DemiBold-webfont.ttf') format('truetype'),
         url('Novecentowide-DemiBold-webfont.svg#NovecentowideLightBold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'NovecentowideBookBold';
    src: url('Novecentowide-Bold-webfont.eot');
    src: url('Novecentowide-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Novecentowide-Bold-webfont.woff') format('woff'),
         url('Novecentowide-Bold-webfont.ttf') format('truetype'),
         url('Novecentowide-Bold-webfont.svg#NovecentowideBookBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* --------------------------------------------------------------------
 * Master Page Width Definitions
 * -------------------------------------------------------------------- */

@media only screen and (max-width: 683px) {
    .menu-block, .menu-block ul,#menu li{
        display: block !important;
    } 
    .no-mobile {
        display: none !important;
    }
    #menu ul li{
        margin-right:0px;
        width: 100% !important; 
        background:#fff !important;
    }
    #mobile-nav{
        display:block !important;
        font-size: 54px !important;
    }
    #mobile-nav select{
        top: 0px;
        margin-top: 0px;
        position: absolute;
        width:100%;
    }
}

@media only screen and (min-width: 684px) {
    .wrapper {
        width: 684px;
        margin: 0 auto;
    }/*
    #menu .menu-block ul li{
        margin-right:0px !important;
        padding: 12px 20px 22px 22px;
    }*/
}

@media only screen and (min-width: 912px) {
    .wrapper {
        width: 912px;
        margin: 0 auto;
    }
    #menu ul li{
        margin-right:20px;
    }
}

@media only screen and (min-width: 1140px) {
    .wrapper {
        width: 1140px;
        margin: 0 auto;
    }
        #menu ul li{
        margin-right:50px;
    }
}

/* --------------------------------------------------------------------
 * Layout Main Sections
 * -------------------------------------------------------------------- */

body {
    text-rendering: optimizeLegibility;
}

body > header {
    height: 90px;
}

body > div#cover {
    width: 100%;
    height: 315px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/cover.jpg);
    background-size: cover;
}

@media only screen and (max-width: 683px) {
    body > div#cover {
        display: none;
    }
}

body > div#main {
}

body > footer {
    min-height: 90px;
    background: rgba(0, 0, 255, 0.1);
}

body > section#news {
    text-align: center;
}

/*
html,body{
    font-family: 'Bitter', serif;
}
*/

h1,h2,h3,h4 {
    font-family: 'museo_sans_500regular';
    text-transform: uppercase;
}

#sulogo {
    height: 50px;
    margin: 0px;
    margin-top:-5px;
    padding: 5px;
    padding-top:0px;
    position: relative;
    opacity: 1.0;
    font-weight: bold;
    margin-left: 0px;
    margin-right: 100px;
    font-size:12px !important;
}

.su-menu{
    height: 50px !important;
    background: #fff !important;
    border-color: #111 !important;
    border-top: none !important;
    border-right-color: #ccc !important;
    border-left-color: #ccc !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px !important;
    font-size:12px !important;
    font-weight: bold;
    font-family: 'NovecentowideUltraLightBold' !important;
    border-bottom:1px #000 solid;
}

.su-menu a{
    height: 16px;
    color: #000;
}

.su-menu img{
    display:inline-block;
    border:none !important;
    padding:none !important;
    margin:none !important;
}

#mobile-nav{
    display:none;
}

h1,h2,h3{
    margin: 0px;
    margin-left: 5px;
    margin-top: 50px;
    padding-bottom: 10px;
}
h2,h3{
    margin-top: 10px;
}

#events,#my-events{
    padding-top:20px;
}
/*
 * GENERIC COLORS
 */

.color-blue {
    background: #3887C0;
}
.color-purple {
    background: #BC5CA2;
}
.color-green {
    background: #C4D836;
}
.color-ltblue {
    background: #94C7DF;
}
.color-red {
    background: #E75661;
}
.color-yellow {
    background: #FBCF37;
}
.color-varsity {
    background: #036735;
}
.bb-green {
    border-bottom: 6px solid #67ae01;
}
.bb-yellow {
    border-bottom: 6px solid #FBCF37;
}
.bb-pink {
    border-bottom: 6px solid #BC5CA2;
}
.bb-blue {
    border-bottom: 6px solid #3887C0;
}