/*
 * CSS STRUCTURE - DO NOT CHANGE
 */
#isonews .news {
	display: inline-block;
	zoom: 1;
	position: relative;
	vertical-align: top;
	margin-bottom: 5px;
}
#isonews .news.big {
    width: 684px;
	height: 370px;
	height: 364px;
}
#isonews .news.medium {
    width: 456px;
    height: 180px;
	margin-bottom: 
}
#isonews .news.small {
	width: 228px;
	height: 180px;
}
#isonews .news.big .news-inner {
    height: 330px;
}
#isonews .medium .news-inner {
    height: 140px;
}
#isonews .small .news-inner {
	height: 140px;
}
#isonews .news-inner {
	margin: 5px;
}
@media only screen and (max-width: 683px) {
	#isonews .news {
		width: 100% !important;
		height: 190px !important;
	}
	#isonews .news.big .news-inner {
		height: 140px;
	}
}
/* END OF
 * CSS STRUCTURE - DO NOT CHANGE
 */

/*
 * NEWS ARTICLE CUSTOMISATION BELOW HERE
 *
 * Blue: #87CEEB
 * Union Blue: #152558
 * Red: #bf1616
 * Green: #67ae01
 */

/* Speech Bubble Effect */
#isonews .news:before {
	content: "";
	position: absolute !important;
	bottom: 5px;
	right: 20px !important;
	border-width: 0px 0 25px 25px !important;
	border-style: solid;
	border-color: transparent #152558;
	background: none;
	color: #152558;
	z-index: -100;
}

/* News Article Link */
#isonews .news > a {
	text-decoration: none;
}

/* Inner - Coloured border*/
#isonews .news .news-inner {
	background-color: #152558;
	background-color: transparent;
	color: #000000;
	padding: 10px;
	overflow: hidden;
	position: relative;
	/* border-radius: 15px; */
}

/* Inner - News Image & Content */
#isonews .news .news-inner-img {
	position: relative;
	overflow: hidden;
	background-color: #152558;
	height: 140px;
	/* border-radius: 10px; */
}

#isonews .news .news-inner .news-bgimage {
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
	background-size: cover;
	background-repeat: no-repeat;
}

#isonews .news:hover .news-inner .news-bgimage{
    opacity: 1;
}

@media only screen and (min-width: 684px) {
	#isonews .news.big .news-inner-img {
		height: 330px;
		height: 326px;
	}
	#isonews .news.medium .news-inner-img {
		height: 140px;
	}
}

/* Author Text outside speech bubble*/
#isonews .news-author {
	position: absolute; 
	right: 51px;
	bottom: 0px;
	font-size: 11px;
	color: #000;
	width: 140px;
	text-align: right;
	vertical-align: bottom;
	display: block;
	height: 20px;
	white-space: nowrap;
	width: 200px;
}

#isonews .news-inner div.title {
	color: #fff;
	background-color: #152558;
	margin: 3px 5px 0px 5px;
	padding: 3px 5px;
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
	font-family: 'MuseoSans500';
	font-weight: normal;
	text-transform: uppercase;
	transform: skew(-10deg);
	-o-transform: skew(-8deg);
	-moz-transform: skew(-8deg);
	-webkit-transform: skew(-8deg);
	transform: skew(0deg);
	-o-transform: skew(0deg);
	-moz-transform: skew(0deg);
	-webkit-transform: skew(0deg);
	z-index: 1;
}

#isonews .news-inner div.title:nth-of-type(2) {
	margin-top: 5px;
}

@media only screen and (min-width: 684px) {
	#isonews .news.big .news-inner div.title {
		margin: 3px 5px 0px 15px;
		font-size: 48px;
		line-height: 48px;
	}
	
	#isonews .news.big .news-inner div.title:nth-of-type(2) {
		margin-top: 15px;
	}
	
	#isonews .news.medium .news-inner div.title {
		font-size: 24px;
		line-height: 24px;
	}
	
	#isonews .news.big .image-bgimage {
		width: 654px;
		height: 340px;
	}
	
	#isonews .news.medium .image-bgimage {
		width: 426px;
		height: 140px;
	}
	
	#isonews .news.small .image-bgimage {
		width: 198px;
		height: 140px;
	}
}

#isonews .news-inner div.description {
	font-family: 'Helvetica';
	font-size: 14px;
	color: white;
	z-index: 1;
	margin: 5px;
	padding: 5px;
	background-color: #152558;
	display: inline-block;
	position: relative;
	font-family: 'MuseoSans500';
}
#isonews .news.big .news-inner div.description {
	margin-left: 15px; /* Why is there a need for different margins on .big? */
}