/*
 * CSS STRUCTURE - DO NOT CHANGE
 */
#isonews .news {
	display: inline-block;
	zoom: 1;
	position: relative;
	vertical-align: top;
}
#isonews .news.big {
    width: 684px;
    height: 380px;
}
#isonews .news.medium {
    width: 456px;
    height: 190px;
}
#isonews .news.small {
	width: 228px;
	height: 190px;
}
#isonews .news.big .news-inner {
    height: 329px;
}
#isonews .medium .news-inner {
    height: 140px;
}
#isonews .small .news-inner {
	height: 140px;
}
#isonews .news-inner {
	margin: 5px;
}
@media only screen and (max-width: 683px) {
	#isonews .news {
		width: 100% !important;
		height: 161px !important;
	}
	#isonews .news.big .news-inner {
		height: 151px;
	}
}
/* END OF
 * CSS STRUCTURE - DO NOT CHANGE
 */

/*
 * NEWS ARTICLE CUSTOMISATION BELOW HERE
 */

/* Speech Bubble Effect */
#isonews .news:before {
	content: "";
	position: absolute !important;
	bottom: 4px;
	right: 20px !important;
	border-width: 0px 0 25px 25px !important;
	border-style: solid;
	border-color: transparent #87CEEB;
	background: none;
	color: #87CEEB;
	z-index: -100;
}

/* News Article Link */
#isonews .news > a {
	text-decoration: none;
}

/* Inner - Coloured border*/
#isonews .news .news-inner {
	background-color: #87CEEB;
	color: #000000;
	padding: 10px;
	overflow: hidden;
	position: relative;
}

/* Inner - News Image & Content */
#isonews .news .news-inner-img {
	overflow: hidden;
	background-size: cover;
}

#isonews .news.big .news-inner-img {
    height: 329px;
}
#isonews .news.medium .news-inner-img {
    height: 140px;
}
#isonews .news.small .news-inner-img {
	height: 140px;
}

/* Author Text outside speech bubble*/
#isonews .news-author {
	position: absolute; 
	right: 51px;
	bottom: 7px;
	font-size: 10px;
	color: #888;
}

#isonews .news-inner div.title {
	font-family: 'MuseoSans500';
	text-transform: uppercase;
}

#isonews span.titlesplit {
	font-family: 'MuseoSans500';
	text-transform: uppercase;
	display: inline-block;
	background-color: #bf1616;
	padding: 4px 10px;
	border-radius: 0px;
	transform: skew(-10deg);
	-o-transform: skew(-10deg);
	-moz-transform: skew(-10deg);
	-webkit-transform: skew(-10deg);
	color: #fff;
	margin-top: 3px;
	font-weight: normal;
}

#isonews .news-inner div.description {
	font-family: 'Helvetica';
	font-size: 11px;
}